.box-1{

    display: inline-flex;
    flex-wrap: wrap;
    justify-content: end; 
    border-radius: 20px;
    background-color: transparent;
    position: relative;
    top : 100px;
    z-index: -1;
    
    
}